<!-- Search -->
<div class="row justify-content-center align-items-center p-5">
  <div class="col-lg-6 col-md-8 col-sm-10">
    <div class="alert-primary p-2 input-search-group">
      <span class="search-icon">
        <img src="./assets/icons/search.svg" width="20" height="20" />
      </span>
      <input type="text" class="ps-2 form-search-control text-primary"
             placeholder="Search Task..." [(ngModel)]="searchValue" (input)="search(searchValue)">
    </div>
  </div>
</div>
<!-- Page Title -->
<div class="bg-light p-3 mb-4 w-100">
  <img src="./assets/icons/tasks.svg" width="20" height="20" />
  <span class="ms-2 text-primary">Tasks</span>
</div>
<!-- Page Content -->
<!-- Create New Task -->
<div class="row mx-auto justify-content-between rounded w-75 create-task mb-2"
     (click)="openModal(emptyTask)">
  <div class="col-3 p-3">
    <img src="./assets/icons/create.svg" width="20" height="20" />
    <span class="ps-3">Create New Task</span>
  </div>
  <div class="col-auto">
    <div class="row">
      <div class="col-auto p-3">
        <img src="./assets/icons/more-black.svg" width="20" height="20" />
      </div>
    </div>
  </div>
</div>
<!-- Filtered Task Menu -->
<div *ngIf="filteredTaskList?.length && searchValue">
  <div class="row mx-auto justify-content-between rounded w-75 border mb-2"
       [ngClass]="task.taskColor && !task.done && !task.deleted ? 'alert-'+ task.taskColor + ' border-'+ task.taskColor : ''"
       [class.pinned]="task.pinned"
       [class.alert-success]="task.done"
       [class.border-success]="task.done"
       [class.alert-danger]="task.deleted"
       [class.border-danger]="task.deleted"
       *ngFor="let task of filteredTaskList">
    <!-- Left Menu Side -->
    <div class="col-auto p-3">
      <div class="d-flex align-items-center">
        <div class="border rounded" style="height:24px;width:24px;"
             [ngClass]="(task.taskColor && !task.done && !task.deleted) ? 'border-'+ task.taskColor : ''"
             [class.bg-success]="task.done"
             [class.bg-danger]="task.deleted"
             (click)="taskCompleted(task)"></div>
        <div class="ms-3"
             [class.text-decoration-line-through]="task.done || task.deleted"
             [class.text-success]="task.done"
             [class.text-danger]="task.deleted">
          {{task.taskName}}
        </div>
        <div class="d-flex" *ngIf="!task.colorMenu">
          <div class="ms-3 border rounded-pill py-1-5 px-2 fs-8" *ngIf="task.category"
               [ngClass]="task.deleted ?'alert-danger border-danger' : 'alert-primary border-primary'">
            {{task.category}}
          </div>
          <div class="ms-3 border rounded-pill py-1-5 px-2 fs-8"
               *ngIf="task.reminder && !task.done"
               [ngClass]="task.deleted ?'alert-danger border-danger' : 'alert-primary border-primary'">
            <img src="./assets/icons/time.svg" width="14" height="14" />
            <span class="ms-2">{{ task.dateStatus? task.dateStatus :  task.reminder | date:'dd MMM' }}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Right Menu Side -->
    <div class="col-auto d-flex">
      <!-- Boolean Results -->
      <div class="col-auto row me-2 align-items-center"
           *ngIf="(task.done || task.pinned || task.archived || task.deleted) && !task.showMenu && !task.colorMenu">
        <div class="col me-1" *ngIf="task.done">
          <img src="./assets/icons/pocket-success.svg" width="20" height="20" />
        </div>
        <div class="col me-1" *ngIf="task.pinned">
          <img src="./assets/icons/pin-warning.svg" width="20" height="20" />
        </div>
        <div class="col me-1" *ngIf="task.archived">
          <img src="./assets/icons/archive-primary.svg" width="20" height="20" />
        </div>
        <div class="col me-1" *ngIf="task.deleted">
          <img src="./assets/icons/trash-danger.svg" width="20" height="20" />
        </div>
      </div>
      <!-- More Actions -->
      <div class="bg-dark col-auto row">
        <div class="col-auto p-3 task-menu" (click)="toggleTaskMenu(task)"
             data-bs-toggle="tooltip" data-bs-placement="top" title="More">
          <img src="./assets/icons/more.svg" width="20" height="20" />
        </div>
        <!-- Actions Menu -->
        <div class="col-auto" *ngIf="task.showMenu && !task.colorMenu">
          <div class="row">
            <div class="col p-3 px-4 task-menu"
                 data-bs-toggle="tooltip" data-bs-placement="top" title="Reminder"
                 (click)="openReminderModal(task)">
              <img src="./assets/icons/time.svg" width="20" height="20" />
            </div>
            <div class="col p-3 px-4 task-menu" (click)="togglePinTask(task)" *ngIf="!task.deleted"
                 data-bs-toggle="tooltip" data-bs-placement="top" title="Pin">
              <img src="{{'./assets/icons/' + (task.pinned ? 'pin-warning' : 'pin') + '.svg'}}"
                   width="20" height="20" />
            </div>
            <div class="col p-3 px-4 task-menu" (click)="showColorMenu(task)"
                 data-bs-toggle="tooltip" data-bs-placement="top" title="Color"
                 *ngIf="!task.done && !task.deleted">
              <img src="./assets/icons/color.svg" width="20" height="20" />
            </div>
            <div class="col p-3 px-4 task-menu" (click)="archiveTask(task)" *ngIf="!task.deleted"
                 data-bs-toggle="tooltip" data-bs-placement="top" title="Archive">
              <img src="{{'./assets/icons/' + (task.archived ? 'archive-primary' : 'archive') + '.svg'}}"
                   width="20" height="20" />
            </div>
            <div class="col p-3 px-4 task-menu" (click)="deleteTask(task)"
                 data-bs-toggle="tooltip" data-bs-placement="top" title="Trash">
              <img src="./assets/icons/trash.svg" width="20" height="20" />
            </div>
          </div>
        </div>
        <!-- Color Menu -->
        <div class="col-auto bg-light" *ngIf="!task.showMenu && task.colorMenu">
          <div class="row">
            <div class="col p-3 px-4 task-menu" (click)="hideColorMenu(task)"
                 data-bs-toggle="tooltip" data-bs-placement="top" title="Color">
              <img src="./assets/icons/color-dark.svg" width="20" height="20" />
            </div>
            <div class="col p-3 px-4 task-menu"
                 (click)="changeColor(task, color)"
                 *ngFor="let color of colorList">
              <div class="color-circle" [ngClass]="color ? 'bg-'+ color : ''"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Filtered Error Msg -->
<div *ngIf="!filteredTaskList?.length && searchValue" class="py-3">
  <div class="alert alert-primary alert-danger w-75 mx-auto">
    There is no task with that name!!
  </div>
</div>
<!-- All Task Menu -->
<div *ngIf="!filteredTaskList?.length && !searchValue">
  <div class="row mx-auto justify-content-between rounded w-75 border mb-2"
       [class.pinned]="task.pinned"
       [ngClass]="task.taskColor && !task.done && !task.deleted ? 'alert-'+ task.taskColor + ' border-'+ task.taskColor : ''"
       [class.alert-success]="task.done"
       [class.border-success]="task.done"
       [class.alert-danger]="task.deleted"
       [class.border-danger]="task.deleted"
       *ngFor="let task of taskList">
    <!-- Left Menu Side -->
    <div class="col-auto p-3">
      <div class="d-flex align-items-center">
        <div class="border rounded" style="height:24px;width:24px;"
             [ngClass]="(task.taskColor && !task.done && !task.deleted) ? 'border-'+ task.taskColor : ''"
             [class.bg-success]="task.done"
             [class.bg-danger]="task.deleted"
             (click)="taskCompleted(task)"></div>
        <div class="ms-3"
             [class.text-decoration-line-through]="task.done || task.deleted"
             [class.text-success]="task.done"
             [class.text-danger]="task.deleted">
          {{task.taskName}}
        </div>
        <div class="d-flex" *ngIf="!task.colorMenu">
          <div class="ms-3 border rounded-pill py-1-5 px-2 fs-8" *ngIf="task.category"
               [ngClass]="task.deleted ?'alert-danger border-danger' : 'alert-primary border-primary'">
            {{task.category}}
          </div>
          <div class="ms-3 border rounded-pill py-1-5 px-2 fs-8"
               *ngIf="task.reminder && !task.done"
               [ngClass]="task.deleted ?'alert-danger border-danger' : 'alert-primary border-primary'">
            <img src="./assets/icons/time.svg" width="14" height="14" />
            <span class="ms-2">{{ task.dateStatus? task.dateStatus :  task.reminder | date:'dd MMM' }}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Right Menu Side -->
    <div class="col-auto d-flex">
      <!-- Boolean Results -->
      <div class="col-auto row me-2 align-items-center"
           *ngIf="(task.done || task.pinned || task.archived || task.deleted) && !task.showMenu && !task.colorMenu">
        <div class="col me-1" *ngIf="task.done">
          <img src="./assets/icons/pocket-success.svg" width="20" height="20" />
        </div>
        <div class="col me-1" *ngIf="task.pinned">
          <img src="./assets/icons/pin-warning.svg" width="20" height="20" />
        </div>
        <div class="col me-1" *ngIf="task.archived">
          <img src="./assets/icons/archive-primary.svg" width="20" height="20" />
        </div>
        <div class="col me-1" *ngIf="task.deleted">
          <img src="./assets/icons/trash-danger.svg" width="20" height="20" />
        </div>
      </div>
      <!-- More Actions -->
      <div class="bg-dark col-auto row">
        <div class="col-auto p-3 task-menu" (click)="toggleTaskMenu(task)"
             data-bs-toggle="tooltip" data-bs-placement="top" title="More">
          <img src="./assets/icons/more.svg" width="20" height="20" />
        </div>
        <!-- Actions Menu -->
        <div class="col-auto" *ngIf="task.showMenu && !task.colorMenu">
          <div class="row">
            <div class="col p-3 px-4 task-menu"
                 data-bs-toggle="tooltip" data-bs-placement="top" title="Reminder" (click)="openReminderModal(task)">
              <img src="./assets/icons/time.svg" width="20" height="20" />
            </div>
            <div class="col p-3 px-4 task-menu" (click)="togglePinTask(task)" *ngIf="!task.deleted"
                 data-bs-toggle="tooltip" data-bs-placement="top" title="Pin">
              <img src="{{'./assets/icons/' + (task.pinned ? 'pin-warning' : 'pin') + '.svg'}}"
                   width="20" height="20" />
            </div>
            <div class="col p-3 px-4 task-menu" (click)="showColorMenu(task)"
                 data-bs-toggle="tooltip" data-bs-placement="top" title="Color"
                 *ngIf="!task.done && !task.deleted">
              <img src="./assets/icons/color.svg" width="20" height="20" />
            </div>
            <div class="col p-3 px-4 task-menu" (click)="archiveTask(task)" *ngIf="!task.deleted"
                 data-bs-toggle="tooltip" data-bs-placement="top" title="Archive">
              <img src="{{'./assets/icons/' + (task.archived ? 'archive-primary' : 'archive') + '.svg'}}"
                   width="20" height="20" />
            </div>
            <div class="col p-3 px-4 task-menu" (click)="deleteTask(task)"
                 data-bs-toggle="tooltip" data-bs-placement="top" title="Trash">
              <img src="./assets/icons/trash.svg" width="20" height="20" />
            </div>
          </div>
        </div>
        <!-- Color Menu -->
        <div class="col-auto bg-light" *ngIf="!task.showMenu && task.colorMenu">
          <div class="row">
            <div class="col p-3 px-4 task-menu" (click)="hideColorMenu(task)"
                 data-bs-toggle="tooltip" data-bs-placement="top" title="Color">
              <img src="./assets/icons/color-dark.svg" width="20" height="20" />
            </div>
            <div class="col p-3 px-4 task-menu"
                 (click)="changeColor(task, color)"
                 *ngFor="let color of colorList">
              <div class="color-circle" [ngClass]="color ? 'bg-'+ color : ''"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Create/Edit Task Modal -->
<div class="modal fade" id="taskModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <app-edit-task (addTask)="createTask($event)"
                     (editTask)="editTask($event)"
                     [taskList]="taskList"
                     [selectedTask]="selectedTask">
      </app-edit-task>
    </div>
  </div>
</div>

<!-- Edit Reminder Task Modal -->
<div class="modal fade" id="reminderModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <app-edit-reminder [selectedTask]="selectedTask"
                         (edit)="editReminder($event)">
      </app-edit-reminder>
    </div>
  </div>
</div>
