<!-- Search -->
<div class="row justify-content-center align-items-center p-5">
  <div class="col-lg-6 col-md-8 col-sm-10">
    <div class="alert-primary p-2 input-search-group">
      <span class="search-icon">
        <img src="../../../../../assets/icons/search.svg" width="20" height="20" />
      </span>
      <input type="text" class="ps-2 form-search-control text-primary"
             placeholder="Search Reminder Task..." [(ngModel)]="searchValue" (input)="search(searchValue)">
    </div>
  </div>
</div>
<!-- Filtered Task Menu -->
<div *ngIf="filteredTaskList?.length && searchValue">
  <div class="row mx-auto justify-content-between rounded w-75 border mb-2"
       [class.pinned]="task.pinned" id="{{'id' + task.id}}"
       [ngClass]="{'alert-success border-success': task.done}"
       *ngFor="let task of filteredTaskList">
    <!-- Left Menu Side -->
    <div class="col-auto p-3">
      <div class="d-flex align-items-center">
        <div class="border rounded" style="height:24px;width:24px;"
             [ngClass]="{'border-0 bg-success': task.done}"
             (click)="taskCompleted(task)"></div>
        <div class="ms-3"
             [ngClass]="{'text-success text-decoration-line-through': task.done}">
          {{task.taskName}}
        </div>
        <div class="ms-4 alert-primary border border-primary rounded-pill py-1 px-2 fs-7" *ngIf="task.category">
          {{task.category}}
        </div>
        <div class="ms-2 alert-primary border border-primary rounded-pill py-1 px-2 fs-7" *ngIf="task.reminder">
          <img src="../../../../../assets/icons/time.svg" width="16" height="16" />
          <span class="ms-2">{{ task.dateStatus? task.dateStatus :  task.reminder | date:'dd MMM' }}</span>
        </div>
      </div>
    </div>
    <!-- Right Menu Side -->
    <div class="col-auto d-flex">
      <!-- Boolean Results -->
      <div class="col-auto row me-2 align-items-center"
           *ngIf="(task.done || task.pinned || task.archived) && !task.showMenu">
        <div class="col me-1" *ngIf="task.done">
          <img src="../../../../../assets/icons/pocket-success.svg" width="20" height="20" />
        </div>
        <div class="col me-1" *ngIf="task.pinned">
          <img src="../../../../../assets/icons/pin-warning.svg" width="20" height="20" />
        </div>
        <div class="col me-1" *ngIf="task.archived">
          <img src="../../../../../assets/icons/archive-primary.svg" width="20" height="20" />
        </div>
      </div>
      <!-- More Actions -->
      <div class="bg-dark col-auto row">
        <div class="col-auto p-3 task-menu" (click)="toggleTaskMenu(task)"
             data-bs-toggle="tooltip" data-bs-placement="top" title="More">
          <img src="../../../../../assets/icons/more.svg" width="20" height="20" />
        </div>
        <div class="col-auto" *ngIf="task.showMenu">
          <div class="row">
            <div class="col p-3 px-4">

            </div>
            <div class="col p-3 px-4 task-menu"
                 data-bs-toggle="tooltip" data-bs-placement="top" title="Reminder"
                 (click)="openReminderModal(task)">
              <img src="../../../../../assets/icons/time.svg" width="20" height="20" />
            </div>
            <div class="col p-3 px-4 task-menu" (click)="togglePinTask(task)"
                 data-bs-toggle="tooltip" data-bs-placement="top" title="Pin">
              <img src="{{'../../../../../assets/icons/' + (task.pinned ? 'pin-warning' : 'pin') + '.svg'}}"
                   width="20" height="20" />
            </div>
            <div class="col p-3 px-4 task-menu" (click)="archiveTask(task)"
                 data-bs-toggle="tooltip" data-bs-placement="top" title="Archive">
              <img src="../../../../../assets/icons/archive.svg" width="20" height="20" />
            </div>
            <div class="col p-3 px-4 task-menu" (click)="deleteTask(task)"
                 data-bs-toggle="tooltip" data-bs-placement="top" title="Trash">
              <img src="../../../../../assets/icons/trash.svg" width="20" height="20" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Filtered Error Msg -->
<div *ngIf="!filteredTaskList?.length && searchValue" class="py-3">
  <div class="alert alert-primary alert-danger w-75 mx-auto">
    There is no task with that name!!
  </div>
</div>
<!-- All Reminder Tasks -->
<div *ngIf="!filteredTaskList?.length && !searchValue">
  <!-- Pinned Task List -->
  <div class="mb-5" *ngIf="pinnedTaskList?.length">
    <div class="alert-warning p-3 mb-4 w-100">
      <img src="../../../../../assets/icons/pin-warning.svg" width="20" height="20" />
      <span class="ms-2 text-warning">Pin</span>
    </div>
    <!-- Task List Menu -->
    <div class="row mx-auto justify-content-between rounded w-75 border mb-2"
         [ngClass]="{'pinned alert-warning border-warning' : task.pinned}"
         *ngFor="let task of pinnedTaskList">
      <!-- Left Menu Side -->
      <div class="col-auto p-3">
        <div class="d-flex align-items-center">
          <div class="border rounded" style="height:24px;width:24px;"
               (click)="taskCompleted(task)"></div>
          <div class="ms-3">
            {{task.taskName}}
          </div>
          <div class="ms-4 alert-primary border border-primary rounded-pill py-1 px-2 fs-7" *ngIf="task.category">
            {{task.category}}
          </div>
          <div class="ms-2 alert-primary border border-primary rounded-pill py-1 px-2 fs-7"
               *ngIf="task.reminder">
            <img src="../../../../../assets/icons/time.svg" width="16" height="16" />
            <span class="ms-2">{{ task.reminder | date:'dd MMM' }}</span>
          </div>
        </div>
      </div>
      <!-- Right Menu Side -->
      <div class="col-auto d-flex">
        <!-- Boolean Results -->
        <div class="col-auto row me-2 align-items-center"
             *ngIf="task.pinned && !task.showMenu">
          <div class="col me-1" *ngIf="task.pinned">
            <img src="../../../../../assets/icons/pin-warning.svg" width="20" height="20" />
          </div>
        </div>
        <!-- More Actions -->
        <div class="bg-dark col-auto row">
          <div class="col-auto p-3 task-menu" (click)="toggleTaskMenu(task)">
            <img src="../../../../../assets/icons/more.svg" width="20" height="20" />
          </div>
          <div class="col-auto" *ngIf="task.showMenu">
            <div class="row">
              <div class="col p-3 px-4">

              </div>
              <div class="col p-3 px-4 task-menu"
                   (click)="openReminderModal(task)">
                <img src="../../../../../assets/icons/time.svg" width="20" height="20" />
              </div>
              <div class="col p-3 px-4 task-menu" (click)="togglePinTask(task)">
                <img src="../../../../../assets/icons/pin.svg" width="20" height="20" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Reminder Task List -->
  <div *ngIf="reminderTaskList?.length">
    <!-- Today Task List -->
    <div *ngIf="todayTasks?.length" class="mb-4">
      <div class="bg-light p-3 mb-4 w-100">
        <img src="../../../../../assets/icons/time.svg" width="20" height="20" />
        <span class="ms-2">Today</span>
      </div>
      <!-- Task List Menu -->
      <div class="row mx-auto justify-content-between rounded w-75 border mb-2 alert-primary border-primary"
           *ngFor="let task of todayTasks">
        <!-- Left Menu Side -->
        <div class="col-auto p-3">
          <div class="d-flex align-items-center">
            <div class="border border-primary rounded" style="height:24px;width:24px;"
                 (click)="taskCompleted(task)"></div>
            <div class="ms-3">
              {{task.taskName}}
            </div>
            <div class="ms-4 alert-primary border border-primary rounded-pill py-1 px-2 fs-7" *ngIf="task.category">
              {{task.category}}
            </div>
            <div class="ms-2 alert-primary border border-primary rounded-pill py-1 px-2 fs-7" *ngIf="task.reminder">
              <img src="../../../../../assets/icons/time.svg" width="16" height="16" />
              <span class="ms-2">{{ task.dateStatus }}</span>
            </div>
          </div>
        </div>
        <!-- Right Menu Side -->
        <div class="col-auto d-flex">
          <!-- More Actions -->
          <div class="bg-dark col-auto row">
            <div class="col-auto p-3 task-menu" (click)="toggleTaskMenu(task)">
              <img src="../../../../../assets/icons/more.svg" width="20" height="20" />
            </div>
            <div class="col-auto" *ngIf="task.showMenu">
              <div class="row">
                <div class="col p-3 px-4 task-menu"
                     (click)="openReminderModal(task)">
                  <img src="../../../../../assets/icons/time.svg" width="20" height="20" />
                </div>
                <div class="col p-3 px-4 task-menu" (click)="togglePinTask(task)">
                  <img src="../../../../../assets/icons/pin.svg" width="20" height="20" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Future Task List -->
    <div *ngIf="futureTasks?.length" class="mb-4">
      <div class="alert-info p-3 mb-4 w-100">
        <img src="../../../../../assets/icons/future.svg" width="20" height="20" />
        <span class="ms-2 text-info">Future</span>
      </div>
      <!-- Task List Menu -->
      <div class="row mx-auto justify-content-between rounded w-75 border mb-2 alert-info border-info"
           *ngFor="let task of futureTasks">
        <!-- Left Menu Side -->
        <div class="col-auto p-3">
          <div class="d-flex align-items-center">
            <div class="border border-info rounded" style="height:24px;width:24px;"
                 (click)="taskCompleted(task)"></div>
            <div class="ms-3">
              {{task.taskName}}
            </div>
            <div class="ms-4 alert-primary border border-primary rounded-pill py-1 px-2 fs-7" *ngIf="task.category">
              {{task.category}}
            </div>
            <div class="ms-2 alert-primary border border-primary rounded-pill py-1 px-2 fs-7" *ngIf="task.reminder">
              <img src="../../../../../assets/icons/time.svg" width="16" height="16" />
              <span class="ms-2">{{ task.reminder | date:'dd MMM' }}</span>
            </div>
          </div>
        </div>
        <!-- Right Menu Side -->
        <div class="col-auto d-flex">
          <!-- More Actions -->
          <div class="bg-dark col-auto row">
            <div class="col-auto p-3 task-menu" (click)="toggleTaskMenu(task)">
              <img src="../../../../../assets/icons/more.svg" width="20" height="20" />
            </div>
            <div class="col-auto" *ngIf="task.showMenu">
              <div class="row">
                <div class="col p-3 px-4">

                </div>
                <div class="col p-3 px-4 task-menu"
                     (click)="openReminderModal(task)">
                  <img src="../../../../../assets/icons/time.svg" width="20" height="20" />
                </div>
                <div class="col p-3 px-4 task-menu" (click)="togglePinTask(task)">
                  <img src="../../../../../assets/icons/pin.svg" width="20" height="20" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Past Task List -->
    <div *ngIf="pastTasks?.length" class="mb-4">
      <div class="alert-danger p-3 mb-4 w-100">
        <img src="../../../../../assets/icons/tasks.svg" width="20" height="20" />
        <span class="ms-2 text-danger">Past</span>
      </div>
      <!-- Task List Menu -->
      <div class="row mx-auto justify-content-between rounded w-75 border mb-2"
           *ngFor="let task of pastTasks">
        <!-- Left Menu Side -->
        <div class="col-auto p-3">
          <div class="d-flex align-items-center">
            <div class="border rounded" style="height:24px;width:24px;"
                 (click)="taskCompleted(task)"></div>
            <div class="ms-3">
              {{task.taskName}}
            </div>
            <div class="ms-4 alert-primary border border-primary rounded-pill py-1 px-2 fs-7" *ngIf="task.category">
              {{task.category}}
            </div>
            <div class="ms-2 alert-primary border border-primary rounded-pill py-1 px-2 fs-7"
                 *ngIf="task.reminder">
              <img src="../../../../../assets/icons/time.svg" width="16" height="16" />
              <span class="ms-2">{{ task.reminder | date:'dd MMM' }}</span>
            </div>
          </div>
        </div>
        <!-- Right Menu Side -->
        <div class="col-auto d-flex">
          <!-- More Actions -->
          <div class="bg-dark col-auto row">
            <div class="col-auto p-3 task-menu" (click)="toggleTaskMenu(task)">
              <img src="../../../../../assets/icons/more.svg" width="20" height="20" />
            </div>
            <div class="col-auto" *ngIf="task.showMenu">
              <div class="row">
                <div class="col p-3 px-4">

                </div>
                <div class="col p-3 px-4 task-menu"
                     (click)="openReminderModal(task)">
                  <img src="../../../../../assets/icons/time.svg" width="20" height="20" />
                </div>
                <div class="col p-3 px-4 task-menu" (click)="togglePinTask(task)">
                  <img src="../../../../../assets/icons/pin.svg" width="20" height="20" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Edit Reminder Task Modal -->
<div class="modal fade" id="reminderModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <app-edit-reminder [selectedTask]="selectedTask"
                         (edit)="editReminder($event)">
      </app-edit-reminder>
    </div>
  </div>
</div>
