<!-- Search -->
<div class="row justify-content-center align-items-center p-5">
  <div class="col-lg-6 col-md-8 col-sm-10">
    <div class="alert-primary p-2 input-search-group">
      <span class="search-icon">
        <img src="./assets/icons/search.svg" width="20" height="20" />
      </span>
      <input type="text" class="ps-2 form-search-control text-primary"
             placeholder="Search Trash Task..." [(ngModel)]="searchValue" (input)="search(searchValue)">
    </div>
  </div>
</div>
<!-- Page Title -->
<div class="alert-danger p-3 mb-4 w-100">
  <img src="./assets/icons/trash-danger.svg" width="20" height="20" />
  <span class="ms-2 text-danger">Trash</span>
</div>
<!-- Filtered Task Menu -->
<div *ngIf="filteredTaskList?.length && searchValue">
  <!-- Task List Menu -->
  <div class="row mx-auto justify-content-between rounded w-75 border mb-2"
       [ngClass]="{'alert-danger border-danger': task.deleted}"
       *ngFor="let task of filteredTaskList">
    <!-- Left Menu Side -->
    <div class="col-auto p-3">
      <div class="d-flex align-items-center">
        <div class="border bg-danger rounded" style="height:24px;width:24px;"></div>
        <div class="ms-3"
             [ngClass]="{'text-danger text-decoration-line-through': task.deleted}">
          {{task.taskName}}
        </div>
      </div>
    </div>
    <!-- Right Menu Side -->
    <div class="col-auto d-flex">
      <!-- Boolean Results -->
      <div class="col-auto row me-2 align-items-center"
           *ngIf="task.deleted">
        <div class="col me-1" *ngIf="task.deleted">
          <img src="./assets/icons/trash-danger.svg" width="20" height="20" />
        </div>
      </div>
      <!-- More Actions -->
      <div class="bg-dark col-auto row">
        <div class="col-auto p-3 task-menu" (click)="toggleTaskMenu(task)"
             data-bs-toggle="tooltip" data-bs-placement="top" title="More">
          <img src="./assets/icons/more.svg" width="20" height="20" />
        </div>
        <!-- Actions Menu -->
        <div class="col-auto" *ngIf="task.showMenu">
          <div class="row">
            <div class="col p-3 px-4 task-menu" (click)="deleteTask(task)"
                 data-bs-toggle="tooltip" data-bs-placement="top" title="Remove From Trash">
              <img src="./assets/icons/trash.svg" width="20" height="20" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Filtered Error Msg -->
<div *ngIf="!filteredTaskList?.length && searchValue" class="py-3">
  <div class="alert alert-primary alert-danger w-75 mx-auto">
    There is no task with that name!!
  </div>
</div>
<!-- All Trash Tasks -->
<div *ngIf="!filteredTaskList?.length && !searchValue">
  <!-- Task List Menu -->
  <div class="row mx-auto justify-content-between rounded w-75 border mb-2"
       [ngClass]="{'alert-danger border-danger': task.deleted}" *ngFor="let task of deletedTaskList">
    <!-- Left Menu Side -->
    <div class="col-auto p-3">
      <div class="d-flex align-items-center">
        <div class="border bg-danger rounded" style="height:24px;width:24px;"></div>
        <div class="ms-3"
             [ngClass]="{'text-danger text-decoration-line-through': task.deleted}">
          {{task.taskName}}
        </div>
      </div>
    </div>
    <!-- Right Menu Side -->
    <div class="col-auto d-flex">
      <!-- Boolean Results -->
      <div class="col-auto row me-2 align-items-center"
           *ngIf="task.deleted">
        <div class="col me-1" *ngIf="task.deleted">
          <img src="./assets/icons/trash-danger.svg" width="20" height="20" />
        </div>
      </div>
      <!-- More Actions -->
      <div class="bg-dark col-auto row">
        <div class="col-auto p-3 task-menu" (click)="toggleTaskMenu(task)"
             data-bs-toggle="tooltip" data-bs-placement="top" title="More">
          <img src="./assets/icons/more.svg" width="20" height="20" />
        </div>
        <!-- Actions Menu -->
        <div class="col-auto" *ngIf="task.showMenu">
          <div class="row">
            <div class="col p-3 px-4 task-menu" (click)="deleteTask(task)"
                 data-bs-toggle="tooltip" data-bs-placement="top" title="Remove From Trash">
              <img src="./assets/icons/trash.svg" width="20" height="20" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
