<div class="container pt-5">
  <form [formGroup]="userForm" (submit)="register()" novalidate class="pt-5 mt-5">
    <div class="row mt-5 justify-content-center">
      <h3 class="text-center mb-5">
        <img src="../../../../assets/logo.png" width="36" height="36"/>
        Reminders
      </h3>
      <div class="col-lg-6 col-md-8 col-sm-12">
        <div class="alert alert-danger fs-7" *ngIf="userExists">
          Username already taken by another user, Please try again!!
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            <div class="row mx-0 align-items-center bg-reminder input-reminder-group"
                 [ngClass]="username?.invalid && (username?.dirty || username?.touched) ? 'border border-danger':''">
              <div class="col-auto px-3">
                <img src="../../../../assets/icons/user.svg" width="20" height="20" />
              </div>
              <div class="col px-0">
                <input type="text" id="username" class="w-100 ps-2 form-reminder-control"
                       placeholder="Username" formControlName="username">
              </div>
            </div>
            <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="text-danger">
              <div *ngIf="username.errors && username.errors.required">
                Username is required.
              </div>
              <div *ngIf="username.errors && username.errors.minlength">
                Username must be at least 3 characters.
              </div>
              <div *ngIf="username.errors && username.errors.maxLength">
                Username must be 50 characters maximum.
              </div>
              <div *ngIf="username.errors && username.errors.pattern">
                Username must start with a letter and remove all spaces.
              </div>
            </div>
          </div>
          <div class="col-12 mb-3">
            <div class="row mx-0 align-items-center bg-reminder input-reminder-group"
                 [ngClass]="password?.invalid && (password?.dirty || password?.touched) ? 'border border-danger':''">
              <div class="col-auto px-3">
                <img src="../../../../assets/icons/password.svg" width="20" height="20" />
              </div>
              <div class="col px-0">
                <input class="w-100 ps-2 form-reminder-control" type="password" id="password"
                     placeholder="Password" formControlName="password">
              </div>
              <div class="col-auto px-3 clickable" (click)="showPassword()">
                <img src="../../../../assets/icons/show.svg" width="20" height="20" />
              </div>
            </div>
            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="text-danger">
              <div *ngIf="password.errors && password.errors.required">
                Password is required.
              </div>
              <div *ngIf="password.errors && password.errors.minlength">
                Password must be at least 5 characters.
              </div>
              <div *ngIf="password.errors && password.errors.maxLength">
                Password must be 50 characters maximum.
              </div>
            </div>
          </div>
        </div>
        <div class="mx-0 row justify-content-end ms-auto col-6">
          <button type="submit" class="btn-reminder p-3">
            <img src="../../../../assets/icons/register.svg" width="20" height="20" />
            <span class="ps-2">Register</span>
          </button>
          <a routerLink="/login" class="text-end fs-7 text-decoration-none text-reminder mt-2">
            Already Have An Account ?
          </a>
        </div>
      </div>
    </div>
  </form>
</div>
