<!-- Search -->
<app-search [taskList]="todayTasks"
            (filter)="filter($event)"
            (searching)="search($event)">
</app-search>
<!-- Task Title -->
<div class="bg-light p-3 mb-4 w-100">
  <img src="../../../../../assets/icons/time.svg" width="20" height="20" />
  <span class="ms-2">Today</span>
</div>
<!-- Filtered Task Menu -->
<div *ngIf="filteredTaskList?.length && searchValue">
  <!-- Task List Menu -->
  <app-task-list [defaultTaskList]="taskList"
                  [showedTaskList]="filteredTaskList"
                  (delete)="deleteTask($event)"
                  (archive)="archiveTask($event)"
                  (openReminder)="openReminderModal($event)">
  </app-task-list>
</div>
<!-- Filtered Error Msg -->
<div *ngIf="!filteredTaskList?.length && searchValue" class="py-3 mb-4">
  <div class="alert alert-primary alert-danger mx-auto">
    There is no task with that name!!
  </div>
</div>
<!-- Today Task List -->
<div *ngIf="!filteredTaskList?.length && !searchValue">
  <!-- Task List Menu -->
  <app-task-list [defaultTaskList]="taskList"
                  [showedTaskList]="todayTasks"
                  (delete)="deleteTask($event)"
                  (archive)="archiveTask($event)"
                  (openReminder)="openReminderModal($event)">
  </app-task-list>
</div>

<div class="row justify-content-center mb-2">
  <div class="col-lg-11">
    <div class="row justify-content-center">
      <!-- Numbers -->
      <div class="col-lg-6">
        <div class="row">
          <div class="col-6 mb-3">
            <div class="alert-warning py-5">
              <div class="d-flex justify-content-center align-items-end mb-3">
                <img src="../../../../../assets/icons/time.svg" width="40" height="40" />
                <h5 class="text-warning mb-0 ms-1">{{remindersNo}}</h5>
              </div>
              <div class="text-warning text-center">Reminders</div>
            </div>
          </div>
          <div class="col-6 mb-3">
            <div class="alert-success py-5">
              <div class="d-flex justify-content-center align-items-end mb-3">
                <img src="../../../../../assets/icons/pocket-success.svg" width="40" height="40" />
                <h5 class="text-success mb-0 ms-1">{{pocketsNo}}</h5>
              </div>
              <div class="text-success text-center">Pocket</div>
            </div>
          </div>
          <div class="col-6 mb-3">
            <div class="alert-dark py-5">
              <div class="d-flex justify-content-center align-items-end mb-3">
                <img src="../../../../../assets/icons/tasks.svg" width="40" height="40" />
                <h5 class="text-dark mb-0 ms-1">{{tasksNo}}</h5>
              </div>
              <div class="text-dark text-center">Task</div>
            </div>
          </div>
          <div class="col-6 mb-3">
            <div class="alert-primary py-5">
              <div class="d-flex justify-content-center align-items-end mb-3">
                <img src="../../../../../assets/icons/archive.svg" width="40" height="40" />
                <h5 class="text-primary mb-0 ms-1">{{archiveNo}}</h5>
              </div>
              <div class="text-primary text-center">Archive</div>
            </div>
          </div>
        </div>
      </div>
      <!-- Prayers -->
      <div class="col-lg-6">
        <app-prayer-list></app-prayer-list>
      </div>
    </div>
  </div>
</div>

<!-- Edit Reminder Task Modal -->
<div class="modal fade" id="reminderModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <app-edit-reminder [selectedTask]="selectedTask"
                         (edit)="editReminder($event)">
      </app-edit-reminder>
    </div>
  </div>
</div>
