<div class="container">
  <div class="row mt-5 justify-content-center align-items-end">
    <div class="col-lg-3 col-md-12 mb-3 px-0">
      <div class="position-relative">
        <div class="rounded-pill camera-bg">
          <img src="../../../../../assets/icons/camera.svg"
               width="16" height="16" />
        </div>
        <img src="{{currentUser.profilePic ? currentUser.profilePic : '../../../../../assets/icons/profile.svg'}}"
             class="img-fluid" width="270" height="335" />
      </div>
    </div>
    <div class="col-lg-9 col-md-12 mb-3">
      <div class="row mx-0 align-items-center bg-reminder input-reminder-group mb-3">
        <div class="col-auto px-3">
          <img src="../../../../../assets/icons/user.svg" width="20" height="20" />
        </div>
        <div class="col px-0">
          <input type="text" id="username" class="w-100 ps-2 form-reminder-control"
                 placeholder="Username" [(ngModel)]="currentUser.username"
                 readonly>
        </div>
      </div>
      <div class="row mx-0 align-items-center bg-reminder input-reminder-group mb-3">
        <div class="col-auto px-3">
          <img src="../../../../../assets/icons/password.svg" width="20" height="20" />
        </div>
        <div class="col px-0">
          <input class="w-100 ps-2 form-reminder-control" type="password" id="password"
                 placeholder="Password" [(ngModel)]="currentUser.password"
                 readonly>
        </div>
        <div class="col-auto px-3 clickable" (click)="showPassword()">
          <img src="../../../../../assets/icons/show.svg" width="20" height="20" />
        </div>
      </div>
      <div class="row mx-0 align-items-center bg-reminder input-reminder-group">
        <div class="col-auto px-3">
          <img src="../../../../../assets/icons/mail.svg" width="20" height="20" />
        </div>
        <div class="col px-0">
          <input class="w-100 ps-2 form-reminder-control" type="email" id="email"
                 placeholder="Mail@mail.com" [(ngModel)]="currentUser.email"
                 readonly>
        </div>
      </div>
    </div>
    <button type="button" (click)="logout()"
            class="btn-reminder text-center p-3 col-12 mb-3 bg-dark text-white">
      <img src="../../../../../assets/icons/logout.svg" width="20" height="20" />
      <span class="ps-2">Logout</span>
    </button>
    <button type="button" (click)="deactivate()"
            class="alert alert-danger text-center p-3 col-12">
      <img src="../../../../../assets/icons/deactivate.svg" width="20" height="20" />
      <span class="ps-2">Deactivate Account</span>
    </button>
    <div class="text-center text-muted p-4 fs-7">
      Deactivate Account Will Remove All The User Data.
    </div>
  </div>
</div>

