<!-- Search -->
<app-search [taskList]="allArchiveTasks"
            (filter)="filter($event)"
            (searching)="search($event)">
</app-search>
<!-- Filtered Task Menu -->
<div *ngIf="filteredTaskList?.length && searchValue">
  <!-- Task List Menu -->
  <app-task-list [defaultTaskList]="taskList"
                 [showedTaskList]="filteredTaskList"
                 (delete)="deleteTask($event)"
                 (archive)="archiveTask($event)"
                 (openReminder)="openReminderModal($event)"
                 (pin)="togglePinTask($event)">
  </app-task-list>
</div>
<!-- Filtered Error Msg -->
<div *ngIf="!filteredTaskList?.length && searchValue" class="py-3">
  <div class="alert alert-primary alert-primary w-75 mx-auto">
    There is no task with that name!!
  </div>
</div>
<!-- All Archive Tasks -->
<div *ngIf="!filteredTaskList?.length && !searchValue">
  <!-- Pinned Task List -->
  <div class="mb-5" *ngIf="pinnedTaskList?.length">
    <div class="alert-warning p-3 mb-4 w-100">
      <img src="./assets/icons/pin-warning.svg" width="20" height="20" />
      <span class="ms-2 text-warning">Pin</span>
    </div>
    <!-- Task List Menu -->
    <app-task-list [defaultTaskList]="taskList"
                   [showedTaskList]="pinnedTaskList"
                   (delete)="deleteTask($event)"
                   (archive)="archiveTask($event)"
                   (openReminder)="openReminderModal($event)"
                   (pin)="togglePinTask($event)">
    </app-task-list>
  </div>
  <!-- Archive Title -->
  <div class="alert-primary p-3 mb-4 w-100">
    <img src="./assets/icons/archive-primary.svg" width="20" height="20" />
    <span class="ms-2 text-primary">Archive</span>
  </div>
  <!-- Archive Task List -->
  <div *ngIf="archivedTaskList?.length">
    <!-- Task List Menu -->
    <app-task-list [defaultTaskList]="taskList"
                   [showedTaskList]="archivedTaskList"
                   (delete)="deleteTask($event)"
                   (archive)="archiveTask($event)"
                   (openReminder)="openReminderModal($event)"
                   (pin)="togglePinTask($event)">
    </app-task-list>
  </div>
</div>

<!-- Edit Reminder Task Modal -->
<div class="modal fade" id="reminderModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <app-edit-reminder [selectedTask]="selectedTask"
                         (edit)="editReminder($event)">
      </app-edit-reminder>
    </div>
  </div>
</div>
