<!-- Search -->
<div class="row justify-content-center align-items-center p-5">
  <div class="col-lg-6 col-md-8 col-sm-10">
    <div class="alert-primary p-2 input-search-group">
      <span class="search-icon">
        <img src="./assets/icons/search.svg" width="20" height="20" />
      </span>
      <input type="text" class="ps-2 form-search-control text-primary"
             placeholder="Search Pocket Task..." [(ngModel)]="searchValue" (input)="search(searchValue)">
    </div>
  </div>
</div>
<!-- Page Title -->
<div class="alert-success p-3 mb-4 w-100">
  <img src="./assets/icons/pocket-success.svg" width="20" height="20" />
  <span class="ms-2 text-success">My Pocket</span>
</div>
<!-- Filtered Task Menu -->
<div *ngIf="filteredTaskList?.length && searchValue">
  <!-- Task List Menu -->
  <div class="row mx-auto justify-content-between rounded w-75 border mb-2"
       [class.pinned]="task.pinned"
       [ngClass]="{'alert-success border-success': task.done}"
       *ngFor="let task of filteredTaskList">
    <!-- Left Menu Side -->
    <div class="col-auto p-3">
      <div class="d-flex align-items-center">
        <div class="border bg-success rounded" style="height:24px;width:24px;"></div>
        <div class="ms-3"
             [ngClass]="{'text-success text-decoration-line-through': task.done}">
          {{task.taskName}}
        </div>
      </div>
    </div>
    <!-- Right Menu Side -->
    <div class="col-auto d-flex">
      <!-- Boolean Results -->
      <div class="col-auto row me-2 align-items-center"
           *ngIf="task.done">
        <div class="col me-1" *ngIf="task.pinned">
          <img src="./assets/icons/pin-warning.svg" width="20" height="20" />
        </div>
        <div class="col me-1">
          <img src="./assets/icons/pocket-success.svg" width="20" height="20" />
        </div>
      </div>
      <!-- More Actions -->
      <div class="bg-dark col-auto row">
        <div class="col-auto p-3 task-menu" (click)="toggleTaskMenu(task)"
             data-bs-toggle="tooltip" data-bs-placement="top" title="More">
          <img src="./assets/icons/more.svg" width="20" height="20" />
        </div>
        <!-- Actions Menu -->
        <div class="col-auto" *ngIf="task.showMenu">
          <div class="row">
            <div class="col p-3 px-4 task-menu" (click)="togglePinTask(task)" *ngIf="!task.deleted"
                 data-bs-toggle="tooltip" data-bs-placement="top" title="Pin">
              <img src="{{'./assets/icons/' + (task.pinned ? 'pin-warning' : 'pin') + '.svg'}}"
                   width="20" height="20" />
            </div>
            <div class="col p-3 px-4 task-menu" (click)="archiveTask(task)" *ngIf="!task.deleted"
                 data-bs-toggle="tooltip" data-bs-placement="top" title="Archive">
              <img src="{{'./assets/icons/' + (task.archived ? 'archive-primary' : 'archive') + '.svg'}}"
                   width="20" height="20" />
            </div>
            <div class="col p-3 px-4 task-menu" (click)="deleteTask(task)"
                 data-bs-toggle="tooltip" data-bs-placement="top" title="Trash">
              <img src="./assets/icons/trash.svg" width="20" height="20" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Filtered Error Msg -->
<div *ngIf="!filteredTaskList?.length && searchValue" class="py-3">
  <div class="alert alert-primary alert-danger w-75 mx-auto">
    There is no task with that name!!
  </div>
</div>
<!-- All Reminder Tasks -->
<div *ngIf="!filteredTaskList?.length && !searchValue">
  <!-- Task List Menu -->
  <div class="row mx-auto justify-content-between rounded w-75 border mb-2"
       [class.pinned]="task.pinned"
       [ngClass]="{'alert-success border-success': task.done}"
       *ngFor="let task of doneTaskList">
    <!-- Left Menu Side -->
    <div class="col-auto p-3">
      <div class="d-flex align-items-center">
        <div class="border bg-success rounded" style="height:24px;width:24px;"
             (click)="taskCompleted(task)"></div>
        <div class="ms-3"
             [ngClass]="{'text-success text-decoration-line-through': task.done}">
          {{task.taskName}}
        </div>
      </div>
    </div>
    <!-- Right Menu Side -->
    <div class="col-auto d-flex">
      <!-- Boolean Results -->
      <div class="col-auto row me-2 align-items-center"
           *ngIf="task.done">
        <div class="col me-1" *ngIf="task.pinned">
          <img src="./assets/icons/pin-warning.svg" width="20" height="20" />
        </div>
        <div class="col me-1">
          <img src="./assets/icons/pocket-success.svg" width="20" height="20" />
        </div>
      </div>
      <!-- More Actions -->
      <div class="bg-dark col-auto row">
        <div class="col-auto p-3 task-menu" (click)="toggleTaskMenu(task)"
             data-bs-toggle="tooltip" data-bs-placement="top" title="More">
          <img src="./assets/icons/more.svg" width="20" height="20" />
        </div>
        <!-- Actions Menu -->
        <div class="col-auto" *ngIf="task.showMenu">
          <div class="row">
            <div class="col p-3 px-4 task-menu" (click)="togglePinTask(task)" *ngIf="!task.deleted"
                 data-bs-toggle="tooltip" data-bs-placement="top" title="Pin">
              <img src="{{'./assets/icons/' + (task.pinned ? 'pin-warning' : 'pin') + '.svg'}}"
                   width="20" height="20" />
            </div>
            <div class="col p-3 px-4 task-menu" (click)="archiveTask(task)" *ngIf="!task.deleted"
                 data-bs-toggle="tooltip" data-bs-placement="top" title="Archive">
              <img src="{{'./assets/icons/' + (task.archived ? 'archive-primary' : 'archive') + '.svg'}}"
                   width="20" height="20" />
            </div>
            <div class="col p-3 px-4 task-menu" (click)="deleteTask(task)"
                 data-bs-toggle="tooltip" data-bs-placement="top" title="Trash">
              <img src="./assets/icons/trash.svg" width="20" height="20" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
